<div  fxFlexFill fxLayout="row" fxLayoutAlign="center">
  <mat-card fxFlex="50" class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>AngularApp</mat-card-title>
      <mat-card-subtitle>Mateusz Wieczorek</mat-card-subtitle>
    </mat-card-header>
    <div fxLayout="row" fxFlexAlign="center">
    <img class="angular-logo" fxFlexAlign="center" mat-card-image src="https://angular.io/assets/images/logos/angularjs/AngularJS-Shield.svg" alt="Angular logo">
    </div>
    <mat-card-content>
      <p>
        Aplikacja stworzona w framework'u Angular w ramach drugiego sprawozdania z przedmiotu <strong>Tworzenie serwisów Web 2.0</strong>
        Aplikacja stanowi prostą bibliotekę filmów z możliwością podgladu listy, edycji lub dodania nowego filmu oraz usunięcia dotychczasowej pozycji z bazy danych.
        Ponad to aplikacja zawiera dodatkowy komponent z listą aktorów i podlistą ocen za gre w danym filmie.
        Podczas pracy nad aplikacją wykorzystano <strong>Material Design</strong>
      </p>
    </mat-card-content>
  </mat-card>
</div>
