<mat-sidenav-container fullscreen>
  <mat-sidenav-content fxLayout="column">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-icon-button>
          <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button>
        <h1>AngularApp</h1>
        <div fxLayout="row" fxFlex="100" fxLayoutAlign="flex-end" fxHide.xs>
          <a mat-button [routerLink]="'/accounts'"> Movies </a>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>

    <router-outlet></router-outlet>

    <footer fxFlexOffset="auto">

      <div class="app-footer" fxLayoutAlign="center center">
        <p>Mateusz Wieczorek, Web 2.0, 2020r</p>
      </div>
    </footer>
  </mat-sidenav-content>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/accounts'"> Movies </a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>

